<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/establishment-service/src/main/java/br/com/ganix/establishment/service/StartService.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.ganix.establishment.service.StartService"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="establishment-service"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx8192m &#13;&#10;-DENV=D&#13;&#10;-Dserver.port=50201&#13;&#10;-Dout.log.file=log/establishment-service.log&#13;&#10;-Dlogback.configurationFile=common-service/logback.xml"/>
</launchConfiguration>
